{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}{{ article.title }} - Biospace{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        
        <!-- Título do artigo -->
        <h1 class="display-4 mb-4">{{ article.title }}</h1>
        
        <!-- Data de publicação -->
        <p class="text-muted mb-4">
          <strong>{% trans "Published on" %}:</strong> {{ article.created_at|date:"d M Y" }}
        </p>
        
{% if article.image %}
  <figure class="mb-4">
    <img src="{{ article.image }}" alt="{{ article.title }}" class="img-fluid rounded">
    {% if article.image_caption %}
      <figcaption class="text-muted small mt-2">{{ article.image_caption }}</figcaption>
    {% endif %}
  </figure>
{% endif %}


<!-- Conteúdo do artigo -->
<div class="article-content mb-4">
  {{ article.content|safe  }}
</div>

<button id="like-btn"
        data-slug="{{ article.slug }}"
        class="btn btn-outline-primary btn-sm">
  ❤️ Curtir (<span id="like-count">{{ article.likes.count }}</span>)
</button>

<!-- Fonte -->
<p>
  <strong>{% trans "Source" %}:</strong>
  <a href="{{ article.source }}" target="_blank" class="text-primary">{{ article.source }}</a>
</p>

<!-- Tags -->
<div class="tags mt-4">
  <span class="badge bg-secondary">#astrobiology</span>
  <span class="badge bg-secondary">#biospace</span>
</div>
   </div>
      </div>
        </div>
{% endblock %}
