{% load static %}
{% load i18n %}

<div class="mobile-only">

  <header class="mobile-header">

<!-- Logo + título --> 
<a href="/" class="site-logo">
 <div class="d-flex align-items-center gap-2"> 
  <!-- (Troque a imagem depois) --> 
   <img src="{% static 'images/logo-placeholder.png' %}" alt="Biospace logo" class="logo-img logo-light" height="70" length="90">
   <img src="{% static 'images/logo-placeholder-dark.png' %}" alt="Biospace logo" class="logo-img logo-dark" height="70" length="90">
 </a>
</div>

    <!-- AÇÕES -->
        <!-- Tema -->
        <button id="theme-toggle" class="btn btn-light btn-sm">🌙</button>

        <!-- Botão de idioma -->
        <form action="{% url 'set_language' %}" method="post" class="m-0">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.get_full_path }}">

          {% if request.LANGUAGE_CODE == 'pt-br' or request.LANGUAGE_CODE == 'pt_BR' %}
            <input type="hidden" name="language" value="en">
            <button type="submit" title="Switch to English" class="btn btn-outline-secondary btn-sm">
              <img src="{% static 'flags/united-states-flag-icon.svg' %}" width="28">
            </button>
          {% else %}
            <input type="hidden" name="language" value="pt-br">
            <button type="submit" title="Mudar para Português" class="btn btn-outline-secondary btn-sm">
              <img src="{% static 'flags/brazil-flag-icon.svg' %}" width="28">
            </button>
          {% endif %}
        </form>

      <!-- MENU -->
      <button class="menu-toggle" aria-label="Abrir menu">☰</button>
    </div>

  </header>

<nav class="mobile-sidebar">
  <a href="{% url '/' %}">{% trans "Início" %}</a>
  <a href="{% url 'articles:article_list' %}">{% trans "Artigos" %}</a>
  <a href="{% url 'about' %}">{% trans "Sobre" %}</a>
  <a href="{% url 'contact' %}">{% trans "Contato" %}</a>
</nav>


</div>
